@import "./reset.css";

body {
  font-family: 'Roboto', sans-serif;
}

/* Mobile-first container */
#appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  margin: 0px 10%;
}

.container {
  flex: 1 1 100%;
}

form {
  flex: 1 1 auto;
}

/* Don't display nav unless prompted elsewhere on app on mobile display. */
.navigation {
  display: none;
}

/* Tablet and desktop above */
@media (min-width: 42em) {
  #appContainer {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    padding-left: 256px;
    padding-top: 100px;
  }

  /* Always show the nav on larger displays. */
  .navigation {
    display: block;
  }
}

h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
    line-height: 1.334;
}

/* Upload Invoice */
.RemoveItemButton, .SubmitItems {
  color: #fff;
}

.cropper-drag-box.cropper-crop, .cropper-container {
    border-radius: 2px;
    box-shadow: 0px 5px 10px #888888;
}

.cropper-wrap-box {
    border-radius: 2px;
}

.DatePicker:first-child {
  padding-right: 20px;
}

.FAB {
  position: fixed;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
  bottom: 45px;
  right: 24px;
}

button.FAB {
  position: fixed !important;
  box-shadow: 0 5px 20px #aaa;
}
