@import "./reset.css";

body {
  font-family: 'Roboto', sans-serif;
}

#appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

form {
  flex: 1 1 auto;
}

.navigation {
  display: none;
}

@media (min-width: 42em) {
  #appContainer {
    flex-direction: row;
    justify-content: flex-start;;
    align-items: flex-start;;
    overflow-x: hidden;
    padding-left: 256px;
    padding-top: 64px;
  }

  .navigation {
    display: block;
  }
}

h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
    line-height: 1.334;
}
