@import "./reset.css";

body {
  font-family: 'Roboto', sans-serif;

}

#appContainer {
  padding: 1em;
  display: flex;

}

@media (min-width: 65em) {
  #appContainer {
    max-width: 80%;
    margin-left: 20%;
    overflow-x: hidden;
    justify-content: center;
  }
}

h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
    line-height: 1.334;
}
